/* Here goes your CSS */
/*Elements CSS*/
body {
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: #7D7D7D;
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: #DD5555;
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #DD5555;
}

/*Class And Ids*/
#wrapper {
  padding: 20px;
  width: 1000px;
  margin: 20px auto;
  display: table;
  background-color: #E5E5E5;
}
#left {
  float: left;
  width: 35%;
}
#right {
  float: left;
  width: 65%;
}
.clear {
  clear: both;
}
#img-circle {
  border-radius: 50%;
  border: 6px solid #DD5555;
}
.card {
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.img-width {
  width: 130px;
}
.text-center {
  text-align: center;
}
.btn-red {
  background-color: #DD5555;
  color:white;
  padding: 10px;
  border-radius: 3px;
}
.btn-red:hover {
  background-color: #D8360E;
  color: white;
}
.list-inline {
  padding: 0;
}

.list-inline li {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.list-inline li i {
  font-size: 25px;
}
.tr-card {
  padding: 10px;
}
.td-padding {
  padding: 20px;
}

